click==8.1.2
colorama==0.4.4
Flask==2.1.1
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
MarkupSafe==2.1.1
mysql==0.0.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
numpy==1.22.3
pandas==1.4.2
plotly==5.7.0
protobuf==3.20.0
pyarrow==7.0.0
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scikit-surprise==1.1.1
scipy==1.8.0
six==1.16.0
sklearn==0.0
tenacity==8.0.1
threadpoolctl==3.1.0
Werkzeug==2.1.1
wincertstore==0.2
zipp==3.8.0
